:root {
    --color-ad: #1D294C;
    --color-text: #FAFAFF;
    --color-text-alt: #050609;
    --color-header:#0e172f;
    --color-nav: #1D294C;
    --color-deco: #7be5ff;
}
body {
    background-image: url(../miscelaneo/white\ noise\ 2.jpg);
    font-family: 'Roboto', 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    display: flex;
    margin: 10px;
    width: 40px;
    height: 40px;
}
.slogan {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-header);
    color: var(--color-text);
}
.categoria {
    padding: 5px;
    text-align: center;
}
.a:hover{
    color: var(--color-deco);
}

.a{
    color: var(--color-text);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header_h1 {
    text-align: center;
    justify-content:center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    color: var(--color-text);
    
}
.buscar {
    display: flex;
    justify-content: right;
    align-items: center;
    margin:0px;
    padding: 5px;
}
.buscar input {
    background: var(--color-text);
    border-style: solid;
    border-color: var(--color-text);
    border-radius: 5px;
    margin-left: 7px;
    margin-right: 7px;
}
.header_nav_ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-nav);
    padding: 0px;
    margin: 0px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    margin-inline-start: auto;
}
.titulo {
    text-align: center;
    padding: 10px;
    margin: 0px;
    margin-top: 20px;
    color: var(--color-header);
}

/* LANZAMIENTOS*/
.contenedor {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    height: 242.5px;
    width: 212.5px;
    margin: 0px;
    padding: 10px;
    position: relative;
}

.card-image {
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 212.5px;
    height: 212.5px;
    
}

.card-image img {
    width: 100%;
    z-index: 1;
    position: relative;
}

.card-image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 2;
    width: 100%;
    height: 100%;

}

.card-image:hover::before {
    background-color: rgba(0, 0, 0, 0.6);
}

.card-image .release-name {
    display: none;
    z-index: 3;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: small;
}

.card-image:hover .release-name {
    display: block;
}

.artist p {
    
    padding: 5px;
    margin: 0%;
}
.artist {
    color: var(--color-text);
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
}

/* FIN LANZAMIENTOS*/



.for-artists {
    text-align: center;
    justify-content: center;
    color:var(--color-text);
    background-color: var(--color-ad);
    margin: 0;
    margin-bottom: 10px;
}
.for-artists a{
    color: var(--color-text);
}
.for-artists-a:hover {
    color: var(--color-deco);
}

/* RUTA */

.ruta {
    display:flex;
    align-items: center;
    margin: 10px;
    height: 30px;
    width: 140px;
    background-color: var(--color-nav);
    color: var(--color-text);
    border-radius: 5px;
}
.ruta p {
    margin: 0 4px;
}

/* FORMULARIO */
.section-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 0%;
    margin: auto;
    border-radius: 5px;
    background-color: var(--color-nav);
    margin-bottom: 100px;
}
.encouragement {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    align-items: center;
}
.encouragement h1{
    color: var(--color-text);
}
.encouragement p{
    color: var(--color-text);
    text-align: center;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    margin-bottom: 20px;
}
.fill {
    width: 50%;
    border:solid;
    border-color: var(--color-text);
    background: var(--color-text);
    border-radius: 5px;
    margin: 5px;

}
.form-div p {
    color: var(--color-text);
    margin: 0;
}
.form-div span {
    color: rgba(256, 256, 256, 0.4);
    font-size: smaller;
    
}
.a-terms {
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}
.a-terms:hover {
    color: var(--color-deco);
}

.button { 
    width: 50%;
    margin: 14px;
    padding: 5px;
    background: var(--color-header);
    color: var(--color-text);
    border:transparent;
    border-radius: 5px;
    font-size:large;
}
.button:hover {
    background: var(--color-deco);
    color:var(--color-text-alt);
    transition: background-color 0.4s ease;
}

/* FOOTER */
.footer {
    width: 100%;
    padding: 10px 0px 10px 0px ;
    background-color: var(--color-header);
    color: var(--color-text);
}
/* COPYRIGHT */
.copyright {
    font-size:x-small;
    display: flex;
    justify-content: center;
}