:root {
    --color-bg: #EEF0F2;
    --color-text: #FAFAFF;
    --color-text-alt: #050609;
    --color-header:#0e172f;
    --color-nav: #1D294C;
}
body {
    background-image: url(../miscelaneo/white\ noise\ 2.jpg);
    font-family: 'Roboto', 'Montserrat', sans-serif;
    color: var(--color-text-alt);
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-header);
    color: var(--color-text);
}
.categoria {
    padding: 5px;
    text-align: center;
}

.a{
    color: var(--color-text);
}
.header_h1 {
    justify-content: left;
    margin: 5px;
    padding: 5px;
    
}
.buscar {
    display: flex;
    justify-content: right;
    align-items: center;
    margin:0px;
    padding: 5px;;
}
.header_nav_ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-nav);
    padding: 0px;
    margin: 0px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    margin-inline-start: auto;
}
.titulo {
    text-align: center;
    padding: 10px;
    margin: 0px;
    margin-top: 20px;

}

/* LANZAMIENTOS*/
.contenedor {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    height: 242.5px;
    width: 212.5px;
    margin: 0px;
    padding: 10px;
    position: relative;
}

.card-image {
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 212.5px;
    height: 212.5px;
    
}

.card-image img {
    width: 100%;
    z-index: 1;
    position: relative;
}

.card-image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0); /* Establece la opacidad inicial en 0 */
    transition: background-color 0.3s ease;
    z-index: 2;
    width: 100%; /* Cambia el ancho al 100% */
    height: 100%; /* Cambia la altura al 100% */

}

.card-image:hover::before {
    background-color: rgba(0, 0, 0, 0.6);
}

.card-image .release-name {
    display: none;
    z-index: 3;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: small;
}

.card-image:hover .release-name {
    display: block;
}

.artist p {
    
    padding: 5px;
    margin: 0%;
}
.artist {
    color: var(--color-text);
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}

/* FIN LANZAMIENTOS*/

/*copyright*/
.copyright {
    font-size:x-small;
    display: flex;
    justify-content: center;
}